/* Common Style -------------------------- */

body{
    font-size:14px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
}
a{
    color:#CCC;
    text-decoration: none;
}
a:hover{
    color:#DDD;
    text-decoration: none;
}

/* Header -------------------------- */
header{
    width: 100%;
    height: 700px;
    background: url(../img/main.jpg) center center no-repeat;
    background-size: cover; /* 背景画像を拡大縮小 */
    position: relative; /* ポジション指定の基点 */
}
header h1{
    width: 130px;
    height: 130px;
    background-color: #FFF;
    text-align: center;
    position: absolute; /* ポジション　絶対配置 */
    left: 50%;
    top: 255px;
    margin-left: -65px;
}
header h1 img{
    width: 77px;
    height: auto;
    margin-top: 42px;
}
header nav{
    width: 100%;
    height: 63px;
    background-color: #FFF;
    border-bottom: 1px #EDEDED solid;
    position: absolute; /* ポジション　絶対配置 */
    left: 0;
    bottom: 0;
}
.nav-container{
    width: 1140px;
    height: 63px;
    margin: 0 auto; /* 左右の中央に配置 */
    overflow: hidden; /* floatの親要素に入れる */
}
header nav h2{
    width: 60px;
    float: left; /* 左寄せ */
    margin-top: 14px;
}
header nav h2 img{
    width: 60px;
    height: auto;
}
header nav ul{
    width: 457px;
    height: 63px;
    float: right; /* 右寄せ */
    display: flex; /* 横並び */
    justify-content: space-between; /* 均等配置 */

}
header nav ul li a{
    display: block;
    height: 63px;
    line-height: 4.4;
    padding: 0 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
header nav ul li a.current{
    border-bottom: 2px #B5B5B5 solid;
    height: 61px;
}

/* Works -------------------------- */

.works{
  background-color:#f4f4f4;
  text-align: center;
  padding: 80px 0;
}

.works h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

.works p{
  font-size: 16px;
  margin-bottom: 56px;
}

.works section{
  height: 468px;
  flex-grow: 1;
}

.works-container{
  height: 100%;
  display: flex;
}

.works section h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color:#f4f4f4;
  margin-top: 220px;
}

.graphic{
  background: url(../img/graphic.jpg) center center no-repeat;
  background-size: cover;
}

.signage.vr{
  background: url(../img/signage.jpg) center center no-repeat;
  background-size: cover;
}

.ui-ux{
  background: url(../img/uiux.jpg) center center no-repeat;
  background-size: cover;
}

.btn{
  width: 268px;
  height: 44px;
  /*background-color: #444;*/
  margin: 64px auto 0;
}

.btn a{
  width: 268px;
  height: 44px;
  display: block; /*リンク領域の拡張*/
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2.8;
  background: rgba(68,68,68,1);
}

.btn a:hover{
  background: rgba(68,68,68,0.5);
}

/* NEWS -------------------------- */

.news{
  width: 100%;
  padding: 80px 0;
  background-color: #E6E6E6;
  text-align: center;
}

.news h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

.news-container{
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.news section{
   width: 360px;
   height: 420px;
   background-color:  #FFF;
}

.news-data{
   padding: 24px 16px;
   overflow: hidden;
}

.date{
   font size: 11px;
   width: 100px;
   text-align left;
   float: left;
}

.category{
  width: 90px;
  height: 18px;
  background-color: #A0A0A0;
  color: #FFF;
  font-size: 11px;
  float: right;
  line-height: 1.8;
  border-radius: 3px;
}

.seminar{
    background-color: #17d8e6;
}

.media{
    background-color: #e69a17;
}

.news h3{
    padding: 0 16px;
    text-align: left;
    font-size: 13px;
}

/* Footer -------------------------- */

footer{
   padding: 80px 0;
   text-align: center;
   background color: #F4F4F4
}

footer h1 img{
  width: 77px;
  height: auto;
}

footer nav{
   padding: 64px 0;
 }

footer nav a{
  color: #666;
}

.footer-gnav{
    width: 310px;
    margin: 0 auto 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }

.footer-snsnav{
  width: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer address{
  color:#666;
  font-size: 13px;
  line-height: 2;
  margin-bottom: 64px;
}

footer p small{
  font-size: 11px;
  color:#666;
}
